.avatar-rounded {
  width: 170px;
  height: 170px;
  background-color: lightgray;
  border-radius: 50%;
  border: 1px solid red;
}

button.room-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 1rem 2.25rem;
  border-radius: 1000px;

  border: none;
  position: relative;
  background: #343434;

  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff;
  cursor: pointer;
}
button.room-button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 1000px;
  top: -0.1em;
  bottom: -0.1em;
  right: -0.1em;
  left: -0.1em;
  z-index: -1;
  background: linear-gradient(360deg, #7B72CC 0%, #DC0078 20%, #3871D6 100%);
  background-size: 140%;
  background-position: 100% 100%;
  transition: background 0.3s;
}

button.room-button:hover::before {
  background-position: 100% 0;
}

button:not([disabled]) {
  background-color: black;
  color: white;
}

/* .custom-room-input {
  color: #FFFFFF;
  background-color: rgba(217, 217, 217, 0.2);
  outline: none;
  border: 1.65625px solid #b0b0b0;
  border-radius: 12px;
  border: 2px solid;
} */

.custom-room-input {
  color: #ffffff;
  border: 4px solid;
  border-image: linear-gradient(360deg, #7B72CC 0%, #DC0078 20%, #3871D6 100%);
  border-image-slice: 1;
  border-radius: 12px;
  background: rgba(217, 217, 217, 0.2);
  width: 479px;
  height: 55px;
  transition: border-color 0.3s ease-in-out;
}

.my-2 {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-top: 25px;
}

.box {
  /* set position and size of box */
  position: absolute;
  left: 0%;
  right: 0;
  top: 75%;
  bottom: 0;
  margin: auto;
  width: 8%;
  height: 5%;
  /* set box styles */
  box-sizing: border-box;
  background: #6a6a6a;
  border: 1.65625px solid #b0b0b0;
  border-radius: 43.4766px;
  /* set box content to center */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1000px;
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 43.4766px;
  top: -0.1em;
  bottom: -0.1em;
  right: -0.1em;
  left: -0.1em;
  z-index: -1;
  background: linear-gradient(360deg, #7B72CC 0%, #DC0078 20%, #3871D6 100%);
  background-size: 140%;
  background-position: 100% 100%;
  transition: background 0.3s;
}
